/* Google font included here rather then in the head of HTML for ease of maintanance */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap');

/* Custom properties definition in global scope */
:root {
    --main-color: rgb(64, 36, 66);
    --accent-color: rgb(247, 112, 23);
    --accent-light-color: rgb(254, 179, 92);
    --secondary-color: rgb(156, 136, 197);
    --secondary-color-light: rgb(197, 179, 229);
}

/* Basic resets */
*, *:before, *:after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    min-width: 320px;
}

h1 {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--accent-color);
    line-height: 1.1;
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--main-color);
    line-height: 1.1;
}

/* Styling common for both secondary nav chevrons */
.secondary-nav-chevrons {
    text-align: center;
}

.secondary-nav-chevrons img {
    max-height: 32px;
    animation-duration: 440ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 2; 
}

/* The above-the-fold styling*/
#above-the-fold-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vh 0 5vh 0;
    margin: 0 auto;
    background-color: var(--main-color);
    height: 100vh;
    row-gap: 6vw;
    min-height: 667px;

}

#above-the-fold-section > * {
    max-width: 420px;
    width: 80%;
}

/* Header styling */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 100%;
    aspect-ratio: 447/62;
    background-image: url(../images/our-radio-usa-logo-landscape-transparent-outlines.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#main-navigation ul {
    color: white;
    list-style: none;
    padding: 0;
    margin: 0;
}

#main-navigation a {
    text-decoration: none;
    color: inherit;
    padding: 0 0.25rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#main-navigation a:hover {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: currentColor;
}

#main-navigation a.current-page {
    color: var(--secondary-color);
    font-weight: 400;
    position: relative;
    /* This custom property is cascaded down and used in pseudo elements */
    --arrow-size: 7px;
}

/* The CSS triangle trick is from
https://css-tricks.com/snippets/css/css-triangle/ */

#main-navigation a.current-page::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: calc((var(--arrow-size) + 5px) * -1);
    top: 6px;
    border: var(--arrow-size) solid transparent;
    border-left: var(--arrow-size) solid var(--secondary-color);
}

#main-navigation a.current-page::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    right: calc((var(--arrow-size) + 5px) * -1);
    top: 6px;
    border: var(--arrow-size) solid transparent;
    border-right: var(--arrow-size) solid var(--secondary-color);
}

#main-navigation li {
    text-align: center;
    padding: 0.25rem 0;
}

/* Main section styling */
#main-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    column-gap: 0.5rem;
    row-gap: 3vh;
    flex-grow: 1;
}

#main-player > * {
    margin: 0;
}

#main-player h1 {
    margin: 0;
    font-size: 1.4rem;
    width: 80%;
}

#main-player p {
    margin: 0;
    color: white;
}
#stream-player {
    border: 1.5px solid var(--secondary-color);
    border-radius: 5px;
    overflow: hidden;
    /* the layout holds integrity down to 760px height
    the below calculation reduces stream player widget for smaller screens */
    width: clamp(150px, calc(240px - max(0px, calc((780px - 100vh) * 0.796))), 80%);
}

#above-the-fold-section .secondary-nav-chevrons a:hover img{
    animation-name: chevron-down-shake;
}

@keyframes chevron-down-shake {
    start {
        transform: translateY(0);
    }
    25% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-5px);
    }
    end {
        transform: translateY(0);
    }
}

/* Footer section styling */
footer {
    background-color: var(--main-color);
    padding: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
}

ul.social-media-links {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 0 1rem 0;
}

ul.social-media-links li {
    list-style-type: none;
}

ul.social-media-links a {
    padding: 0 1rem;
    color: inherit;
    text-decoration: none;
    font-size: 2rem;
}

footer p {
    font-size: small;
    text-align: center;
    margin: 0 0 1.5rem 0;
    line-height: 1.5;
}

footer .secondary-nav-chevrons a:hover img{
    animation-name: chevron-up-shake;
}

@keyframes chevron-up-shake {
    start {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(5px);
    }
    end {
        transform: translateY(0);
    }
}

/* About the Radio Section styling */
#about-radio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
    margin: 0 auto;
}

#about-radio > * {
    max-width: 420px;
    width: 80%;
}

#about-radio h1 {
    color: var(--main-color);
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: clamp(1.8rem, calc(100vw /10), 2.5rem);
}

/* Square responsiv div trick from CSS Tricks */
.card div {
    width: 70%;
    padding-bottom: 70%;
    position: relative;
    margin: 0 auto;
}

.card img {
    position: absolute;
    width: 100%;
    border-radius: 50%;
}

.card {
    margin-bottom: 3rem;
}
.card h2 {
    color: var(--accent-color);
    margin-bottom: 0;
}

.card p {
    color: var(--main-color);
    margin: 0;
}

.card:last-child {
    margin-bottom: 0;
}