/* Custom properties definition in global scope */
:root {
    --bg-color: rgb(64, 36, 66);
    --accent-color: rgb(247, 112, 23);
    --accent-light-color: rgb(254, 179, 92);
    --secondary-color: rgb(156, 136, 197);
    --secondary-color-light: rgb(197, 179, 229);
}

/* Basic resets */
*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/* Header styling */
header {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: start;
    justify-content: flex-start;
}

#logo {
    width: 80%;
    max-width: 480px;
    aspect-ratio: 447 / 62;
    background-image: url(../images/our-radio-usa-logo-landscape-transparent-outlines.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#main-navigation ul {
    color: white;
    list-style: none;
    padding: 0;
    margin: 0;
}

#main-navigation a {
    text-decoration: none;
    color: inherit;
}

#main-navigation a.current-page {
    color: var(--secondary-color);
}

#main-navigation li {
    text-align: center;
}