/* Google font included here rather then in the head of HTML for ease of maintanance */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap');

/* Custom properties definition in global scope */
:root {
    --main-color: rgb(64, 36, 66);
    --accent-color: rgb(247, 112, 23);
    --accent-light-color: rgb(254, 179, 92);
    --secondary-color: rgb(156, 136, 197);
    --secondary-color-light: rgb(197, 179, 229);
    --secondary-color-lighter: rgb(221, 211, 238);
    --main-color-90pc: rgb(64, 36, 66, 0.9);
}

/* Basic resets */
*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    min-width: 320px;
}

h1 {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--accent-color);
    line-height: 1.1;
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--main-color);
    line-height: 1.1;
}

/* Styling common for both secondary nav chevrons */
.secondary-nav-chevrons {
    text-align: center;
}

.secondary-nav-chevrons img {
    height: 32px;
    width: 125px;
    animation-duration: 440ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 2;
}

/* The above-the-fold styling*/
#above-the-fold-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: var(--main-color);
    height: 100vh;
    min-height: 667px;
}

.header-wraper {
    width: 100%;
    background-color: var(--main-color);
}

#above-the-fold-section>* {
    max-width: 420px;
}

#above-the-fold-section .background-wrapper {
    flex-grow: 1;
    width: 80%;
    max-width: 840px;
    padding: 1rem;
}

#above-the-fold-section header,
#page-top header {
    width: 80%;
    max-width: 840px;
    padding: 1rem;
}

/* Header styling */
header {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#logo {
    width: 100%;
    aspect-ratio: 447/62;
    background-image: url(../images/our-radio-usa-logo-landscape-transparent-outlines.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#main-navigation ul {
    color: white;
    list-style: none;
    padding: 0;
    margin: 0;
}

#main-navigation a {
    text-decoration: none;
    color: inherit;
    padding: 0 0.25rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#main-navigation a:hover {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: currentColor;
}

#main-navigation a.current-page {
    color: var(--secondary-color);
    font-weight: 400;
    position: relative;
    /* This custom property is cascaded down and used in pseudo elements */
    --arrow-size: 7px;
}

/* The CSS triangle trick is from
https://css-tricks.com/snippets/css/css-triangle/ */

#main-navigation a.current-page::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: calc((var(--arrow-size) + 5px) * -1);
    top: 6px;
    border: var(--arrow-size) solid transparent;
    border-left: var(--arrow-size) solid var(--secondary-color);
}

#main-navigation a.current-page::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    right: calc((var(--arrow-size) + 5px) * -1);
    top: 6px;
    border: var(--arrow-size) solid transparent;
    border-right: var(--arrow-size) solid var(--secondary-color);
}

#main-navigation li {
    text-align: center;
    padding: 0.25rem 0;
}

/* Main section styling */

.background-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#above-the-fold-section .v-position-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main-player {
    width: 80%;
    max-width: 336px;
    display: flex;
    padding-bottom: 3vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    column-gap: 0.5rem;
    row-gap: 3vh;
    flex-grow: 1;
    margin: 0 auto;
}

#main-player>* {
    margin: 0;
}

#main-player h1 {
    margin: 0;
    font-size: 1.4rem;
    width: 80%;
}

#main-player p {
    margin: 0;
    color: white;
}

#stream-player {
    border: 1.5px solid var(--secondary-color);
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--main-color);
    /* the layout holds integrity down to 760px height
    the below calculation reduces stream player widget for smaller screens */
    width: clamp(150px, calc(240px - max(0px, calc((780px - 100vh) * 0.796))), 80%);
}

#above-the-fold-section .secondary-nav-chevrons {
    width: 80%;
    padding-bottom: 3vh;
    margin: 0 auto;
}

#above-the-fold-section .secondary-nav-chevrons a img {
    animation-name: chevron-wobble;
    animation-duration: 440ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 2;
    animation-delay: 5s;
}

#above-the-fold-section .secondary-nav-chevrons a:hover img {
    animation-name: chevron-down-shake;
}

@keyframes chevron-down-shake {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(5px);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes chevron-wobble {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(15deg);
    }

    50% {
        transform: rotate(0);
    }

    75% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(0);
    }
}

/* Footer section styling */
footer {
    background-color: var(--main-color);
    padding: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
}

ul.social-media-links {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 0 1rem 0;
}

ul.social-media-links li {
    list-style-type: none;
}

ul.social-media-links a {
    padding: 0 1rem;
    color: inherit;
    text-decoration: none;
    font-size: 2rem;
}

footer p {
    font-size: 0.9rem;
    text-align: center;
    margin: 0 0 1.5rem 0;
    line-height: 1.3;
}

footer .secondary-nav-chevrons a:hover img {
    animation-name: chevron-up-shake;
}

@keyframes chevron-up-shake {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0);
    }
}

/* About the Radio Section styling */
#about-radio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
    margin: 0 auto;
}

#about-radio > * {
    max-width: 320px;
    width: 80%;
}

#about-radio h1 {
    color: var(--main-color);
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: clamp(1.8rem, calc(100vw /10), 2.5rem);
}

/* Square responsiv div trick from CSS Tricks */
.card div {
    width: 85%;
    padding-bottom: 85%;
    position: relative;
    margin: 0 auto;
}

.card img {
    position: absolute;
    width: 100%;
    border-radius: 50%;
}

.card {
    margin-bottom: 3rem;
}

.card h2 {
    color: var(--accent-color);
    margin-bottom: 0;
}

.card p {
    color: var(--main-color);
    margin: 0;
}

.card:last-child {
    margin-bottom: 0;
}

/* Shedule page specific CSS */
#schedule {
    width: 80%;
    max-width: 480px;
    margin: 2rem auto;

}

#schedule h1 {
    color: var(--main-color);
    font-size: clamp(1.8rem, calc(100vw /10), 2.5rem);
    margin: 0 0 0.5rem;
}

#schedule h3 {
    color: var(--main-color);
    margin: 0;
}

#schedule p {
    color: var(--main-color);
    margin: 0 0 0.5rem;
}

#schedule .card {
    margin-bottom: 1rem;
}

/* Apps page specific CSS */
#apps {
    width: 80%;
    max-width: 480px;
    margin: 2rem auto;
}

#apps h1 {
    margin-bottom: 0.5rem;
}

#apps p {
    margin-top: 0.5rem;
}

#apps img {
    min-width: 196px;
    max-width: 320px;
}

.apps-badges-wrapper {
    display: flex;
    flex-direction: row;
    width: 70%;
    max-width: 270px;
    margin: 1rem auto 2rem auto;
    row-gap: 2rem;
    column-gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

/* Contact page styles */
#contact {
    width: 80%;
    margin: 0 auto;
}

#contact h1 {
    margin-bottom: 0;
}

#contact h2 {
    margin: 0.5rem 0;
}

#contact p {
    margin-top: 0;
}

.contact-form-wrapper {
    width: 80%;
    margin: 0 auto 2rem auto;
}

form>* {
    display: block;
    width: 100%;
    font-family: Kanit, sans-serif;
    font-weight: 200;
    padding: 0.25rem;
    font-size: 1rem;
}

form label {
    color: var(--main-color);
}

form input,
form textarea,
form select,
form fieldset {
    margin-bottom: 0.5rem;
    border-radius: 3px;
    border-color: var(--main-color);
    border-width: 0.5px;
}

form input:focus,
form textarea:focus {
    background-color: var(--secondary-color-lighter);
    outline-color: var(--secondary-color);
}

form input[type="submit"] {
    margin: 1.5rem auto 0 auto;
    width: 8ch;
    display: inline-block;
    background-color: var(--main-color);
    color: var(--secondary-color-light);
    font-weight: 400;
    font-size: 1rem;
}

form input[type="submit"]:hover {
    cursor: pointer;
}

form select {
    background-color: var(--accent-light-color);
}

/* Media queries for larger screens */

@media screen and (min-width: 660px) {
    
    /* Changes to header and main nav */

    #above-the-fold-section header,
    #above-the-fold-section .background-wrapper,
    #page-top header {
        width: 100%;
        padding: 2rem;
    }

    header {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #logo {
        max-width: 100px;
        aspect-ratio: 200/220;
        background-image: url(../images/our-radio-usa-logo-transparent-outlines.svg);
        background-size: contain;
    }

    #main-navigation li {
        text-align: center;
        padding: 0.25rem 0;
        display: inline;
        margin: 0 0.5rem;
    }

    #main-navigation a.current-page::before {
        left: calc((var(--arrow-size) + 2px) * -1);
    }
    
    #main-navigation a.current-page::after {
        right: calc((var(--arrow-size) + 2px) * -1);
    }

    /* Changes to footer */
    footer {
        padding: 2rem max(2rem, calc(((100vw - 840px) / 2) + 2rem));
        flex-direction: row-reverse;
        justify-content: space-between;
        flex-wrap: wrap;
    }
        
    footer p {
        text-align: left;
    }

    footer nav {
        flex: 1 0 100%;
    }

    /* About radio changes */
    #about-radio {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: start;
        column-gap: 2rem;
        margin: 0 max(2rem, calc(((100vw - 840px) / 2) + 2rem));
    }

    #about-radio h1 {
        font-size: clamp(1.8rem, calc(100vw / 10), 2.5rem);
        flex: 1 0 100%;
        max-width: unset;
        text-align: center;
    }

    #about-radio article {
        min-width: 200px;
        width: initial;
        flex: 1 1;
    }

    /* Schedule page */
    #schedule {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: unset;
        max-width: 840px;
        padding: 0 2rem;
    }

    #schedule heading {
        flex: 1 0 100%;
    }

    #schedule section {
        flex: 1 0 50%;
    }

    /* Apps page styling */
    #apps {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: unset;
        max-width: 840px;
        padding: 0 2rem;
    }

    #apps header,
    #apps h1,
    #apps p {
        display: block;
        flex: 1 0 100%;
        text-align: center;
    }

    .apps-badges-wrapper {
        width: 100%;
        max-width: unset;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
    
    /* Contact page styling */
    .background-wrapper {
        background-image: url("../images/contact-page-background-image.jpg");
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
        padding: 3rem max(2rem, calc(((100vw - 840px) / 2) + 2rem))
    }

    .position-wrapper {
        max-width: 500px;
        margin: 0 0 0 auto;
        background-color: var(--main-color-90pc);
        border-radius: 5px;
        padding: 2rem;
    }

    #contact,
    .contact-form-wrapper {
        width: 100%;
        margin-bottom: 0;
    }

    #contact h2,
    #contact p {
        color: white;
    }

    #contact h1 {
        margin-top: 0;
    }

   form label,
   form legend {
        color: white;
    }

    form fieldset {
        border-color: white;
    }

    form input[type="submit"] {
        background-color: var(--accent-color);
        color: var(--main-color);
    }

    /* Main player section of home page */

    #above-the-fold-section .background-wrapper {
        height: 100%;
        max-width: unset;
        background-color: unset;
        background-image: url("../images/happy-young-student-man-listening-music-park.jpg");
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
        padding-left: max(2rem, calc(((100vw - 840px) / 2) + 2rem));
        padding-right: max(2rem, calc(((100vw - 840px) / 2) + 2rem));
        padding-bottom: 0;
    }

    #above-the-fold-section .v-position-wrapper {
        padding: 3vh 0;
    }

    #main-player {
        background-color: var(--main-color-90pc);
        padding: 3vh;
        border-radius: 10px;
        flex-grow: 0;
        align-self: end;
        margin: 0;
    }

    #above-the-fold-section .secondary-nav-chevrons {
        padding-bottom: 0;
        filter: drop-shadow(5px 5px 20px black);
    }
}